body{
    background-color: #292944;
}
.container{
    display: grid;
    grid-template-columns: 200px repeat(4,82px) 240px 150px;
    position: absolute;
    left: 151px;
    align-items: baseline;
    column-gap: 10px;
}
.container2{
    display: grid;
    grid-template-rows: repeat(3,100px);
    position: absolute;
    width: -webkit-fill-available;
    top: 20px;
    justify-items: center;

}
.containter3{
    display: grid;
    grid-template-columns: 160px 160px;
    position: absolute;
    bottom: 250px;
    column-gap: 30px;
    text-align: center;
    left: 465px;

}
.containter4{
    display: flex;
    position: absolute;
    bottom: 28px;
    column-gap: 20px;
    left: 260px;
}
.box{
   text-align: center;
   color: white;
}
.box-2{
    width: 330px;
    text-align: center;
    color: white;
}
.box-3{
    width: 240px;
    height: 200px;
    background-color: white;
}
.box-3-0{
    width: 240px;
    height: 200px;
    background-color: #ca72e1;
    
}
.brand-box{
    margin-right: 35px;
}
.Login{
    
    margin-left: 70px;
}
.join-us{
    background-color: blueviolet ;
    border-radius: 5px;
}
.welcome{
    color: blue;
    margin-top: 60px;
}
.get-quote{
    background-color:blueviolet ;
    border-radius: 5px;
    color: white;
}
.learn-more{
    border: 2px solid blueviolet;
    color: blueviolet;
    border-radius: 5px;
}
.fa-solid{
    font-size: 25px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    margin:10px 10px 10px 20px;
}
.fa-folder-closed{
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin: 10px 10px 10px 20px;
}
.heading-setting{
    margin: 0px 0px 0px 15px;
}
.background-color{
    color: white;
}
.para{
    margin: 20px 15px ;
}